
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
         <%= render 'form' %>
      </div>

       <div class="column">
         <%= render 'feed' %>
       </div>
    </div>
  </div>
</section>
